html{

}

@font-face{
	font-family: 'Lato', sans-serif;
	src:('https://fonts.googleapis.com/css?family=Lato');


}
/* Resetear navegador*/ 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, font, img,
ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
center, u, b, i {
     margin: 0;
     padding: 0;
     border: 0;
     outline: 0;
     font-weight: normal;
     font-style: normal;
     font-size: 100%;
     font-family: inherit;
     vertical-align: baseline
}

body {
     line-height: 1
}

:focus {
     outline: 0
}

ol, ul {
     list-style: none
}

table {
     border-collapse: collapse;
     border-spacing: 0
}

blockquote:before, blockquote:after, q:before, q:after {
     content: ""
}

blockquote, q {
     quotes: "" ""
}

input, textarea {
     margin: 0;
     padding: 0
}

hr {
     margin: 0;
     padding: 0;
     border: 0;
     color: #000;
     background-color: #000;
     height: 1px
}

/* Fin de reseteo navegador*/ 

a  {   
 text-decoration:none;
     color:#999;   
}   
p{
     font-size: 14px;
     font-family: 'Lato';
     font-weight: lighter;
     line-height: 20px;
     margin-bottom: 7px;
     letter-spacing: 0.7px;
}
.Container{
	margin-top: 20px;
	width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;

	/*background-color:#AAE0F2;*/
     

}

.logo a{
     color:#000;
}
.Encabezado{
     margin-bottom: 30px;
}

.barramenu{
     width: 100%;
     height: 70px;
     /*background-color:blue;*/
     display: flex;
     flex-direction: row;
     justify-content: space-between;


     
}

.logo{
     /*background-color: #F2F59D;*/
     width: 200px;
     height: 40px;
     margin-left: 14%;
    
}

.logo h1{
     font-size: 30px;
     font-family: 'Neuton';
}
.menu {
     display: flex;
     flex-direction: row;
     width: 51%;
     height: 50px;
     /*background-color: red;*/
    justify-content: flex-end;
    margin-right: 5%;
    }

.menu p{
 
    float:right;
    font-family: 'Raleway', sans-serif;
    font-size:14px;
    font-weight:lighter;
    text-align:center;
    text-shadow: 0px 1px 0px #FFF;
    color: #00000;
    
    padding:10px;
    text-decoration:none;
    letter-spacing: 2px;

  
}

.menu a:hover { 
    color:#000;
    
}
.bajada{
     /*background-color: #53FCB6;*/
     height: 50px;
     margin-top: 10px;
     margin-bottom: 10px;



}


.Expo{

     width: 120px;
     height: 40px;
     /*background-color:#FCD8CC;*/
     float: left;
     margin-right: 0.6%;
     color: #DCDCDC;
     letter-spacing: 1px;
}
.Editorial{
     width: 110px;
     height: 40px;
     /*background-color:#FCD8CC;*/
     float: left;
     margin-right: 0.6%;
     letter-spacing: 1px;
}

.Interacción{
     width: 140px;
     height: 40px;
     /*background-color:#FCD8CC;*/
     float: left;
     margin-right: 0.6%;
     letter-spacing: 1px;

}
.Investigación{
     width: 160px;
     height: 40px;
     /*background-color:#FCD8CC;*/
     float: left;
     margin-right: 0.6%;
     letter-spacing: 1px;
}
.Perfil{
     width: 200px;
     height: 40px;
     /*background-color:#FCD8CC;*/
     float: left;
     margin-right: 0.6%;

}

.titulo{
     width: 90%;
     height: 100px;
     /*background-color: #FFCBBA;*/
     display: flex;
     flex-direction: column;
     justify-content: center;


}



.Omegacubix{
     width: 100%;
     height: 780px;
     padding-left:0px;
      -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   float: left;
   display: flex;
   justify-content: center;
   /*background-color: #BAEEFF;*/
}

/*.titulo p {
     float: left;
     display: flex;
     font-family: 'Neuton';
}*/

.Contenidoficha{
     width: 100%;
     height: 420px;
     /*background-color: red;*/
     display: flex;
     padding-left:0px;
     justify-content: space-around;

}



.fotoperfil{
      width: 35%;
     height: 500px;
     background:url("../img/perfil-dgc.jpg");
      -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   float: left;
   display: flex;
   justify-content: center;

}

.titulo2{
     /*background-color: #CCFFBA;*/
     width: 100%;
     height: 70px;
     display: flex;
     float: left;
     margin-top: 30px;
}
.Descripcionproyecto{
    /* background-color: #CCFFBA;*/
     width: 100%;
     height: 100px;
     display: flex;
     float: left;
}

.Descripcionproyecto h3{
     font-size: 40px;
     font-family: 'Raleway';
     letter-spacing: 4px;
     line-height: 50px;
}
.parrafodescripción1{
     width: 100%;
     height: 200px;
     /*background-color: #EDBAFF;*/
     display: flex;
     flex-direction: column;
     float:right;
     padding-top: 0px;
     padding-left:0px;
     padding-right:0px;
     padding-bottom:0px;
}

/*OMEGA CUBIX*/

.foto1{
     width: 35%;
     height: 420px;
     background: url("../img/omegacubix.jpg")  repeat-x left top;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   float: left;
   display: flex;


}

.foto2{
     width: 35%;
     height: 420px;
     background: url("../img/Omegacubix02.jpg")  repeat-x left top;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   float: left;
   display: flex;

}

/*SEÑALETICA*/

.foto1{
     width: 35%;
     height: 420px;
     background: url("../img/señaletica01.jpg")  repeat-x left top;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   float: left;
   display: flex;


}

.foto2{
     width: 35%;
     height: 420px;
     background: url("../img/señaletica02.jpg")  repeat-x left top;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   float: left;
   display: flex;


}

/*DIAFANO*/

.foto1{
     width: 35%;
     height: 420px;
     background: url("../img/diafano02.jpg")  repeat-x left top;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   float: left;
   display: flex;


}

.foto2{
     width: 35%;
     height: 420px;
     background: url("../img/diafano01.jpg")  repeat-x left top;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   float: left;
   display: flex;


}















.titulo h2{
     font-size: 45px;
     font-family: 'Raleway';
     letter-spacing:4px;
     font-weight: bold;
}
.titulo{
     padding-left: 0px;
     width: 100%;
}
.titulo2 h3{
     font-size: 40px;
     font-family: 'Raleway';
     letter-spacing: 4px;
    
}
.titulo2{
  padding-left:0px; 
  padding-top: 0px;  
}

.contenido2{
      padding-left:0px;
     /*background-color: red;*/
     width: 100%;
     height: 420px;
     display: flex;
     float: left;
     justify-content: center;
    
}

/*.parrafodescripción1 p{
font-size: 14px;
font-family: 'Lato';
line-height: 25px;

}
*/

.parrafos{
     width: 30%;
     height: 380px;
     /*background-color: #F1FFBA;*/
     display: flex;
     float:right;
     padding-top: 20px;
     padding-left: 45px;
     padding-right: 45px;
     padding-bottom: 20px;
}

.fichadatos{
     width: 30%;
     /*background-color: #F1FFBA;*/
     display: flex;
     float:right;
     padding-top: 20px;
     padding-left: 45px;
     padding-right: 45px;
     padding-bottom: 20px;
     
}

/*.fichadatos p{
     font-size: 14px;
     font-family: 'Lato';
     line-height: 25px;
}*/
.datos{
     width: 100%;
     /*background-color: #FFCBBA;*/
     display: flex;
     flex-direction: column;

}

.primertitulo{
     /*background-color: #FFE3A6;*/
     margin-left: 14%;
}
.tituloficha{
     /*background-color: red;*/
     margin-left: 14%;
}
.textodescripcion{
     /*background-color: #FFE3A6;*/
     margin-left: 14%;
     padding-top: 20px;
}

/*.textodescripcion p{
   line-height: 50px;  
}*/



.tituloficha{
     left: 100px;
}

.gradiente{
     width: 100%;
     height: 300px;
  /*background: red;*/
  display: flex; /* For browsers that do not support gradients */
  align-self: flex-end;
  background: -webkit-linear-gradient(bottom,rgba(0,0,0,0),rgba(0,0,0,1)); /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom,rgba(0,0,0,0),rgba(0,0,0,1)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom,rgba(0,0,0,0),rgba(0,0,0,1)); /*Fx 3.6-15*/
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1)); /*Standard*/

}

.tituloficha h3{
     font-family: 'Raleway'
     font-size:30px;
}

footer{
     padding-top: 40px;
     width: 100%;
     height: 200px;
     background: #F0F8FF;
     border-top: 2px;
     display: flex;
     flex-direction: row;
     justify-content: center;
     margin-top: 50px;
}


.proyectosfooter{
     width: 200px;
     height: 150px;
     /*background-color:yellow;*/
     float: left;
     margin-right: 0.6%;
     letter-spacing: 2px;
     justify-content: center;
}

footer a:hover { 
    color:#000;
    
}


footer p{
     font-size: 13px;
     font-family: 'Lato';
     margin-bottom: 7px;
     line-height: 17px;

}

.titulo1{
     width: 250px;
     height: 30px;
     /*background-color: red;*/
     display: flex;
     float:center;
    font-family: 'Raleway', sans-serif;
    font-size:14px;

}
.titulo1 p{
     font-weight: bold;
}
.proyectosfooter p{
     letter-spacing: 1px;

}