html{

}

@font-face{
	font-family: 'Lato', sans-serif;
	src:('https://fonts.googleapis.com/css?family=Lato');


}
/* Resetear navegador*/ 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, font, img,
ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
center, u, b, i {
     margin: 0;
     padding: 0;
     border: 0;
     outline: 0;
     font-weight: normal;
     font-style: normal;
     font-size: 100%;
     font-family: inherit;
     vertical-align: baseline
}

body {
     line-height: 1
}

:focus {
     outline: 0
}

ol, ul {
     list-style: none
}

table {
     border-collapse: collapse;
     border-spacing: 0
}

blockquote:before, blockquote:after, q:before, q:after {
     content: ""
}

blockquote, q {
     quotes: "" ""
}

input, textarea {
     margin: 0;
     padding: 0
}

hr {
     margin: 0;
     padding: 0;
     border: 0;
     color: #000;
     background-color: #000;
     height: 1px
}

/* Fin de reseteo navegador*/ 

.Container{
	margin-top: 20px;
	width: 100%;
	height: 1700px;
	/*background-color:#AAE0F2;*/
     

}

.Encabezado{
     margin-bottom: 30px;
}

.logo{
     /*background-color: #F2F59D;*/
     width: 200px;
     height: 50px;
     margin-left: 14%;
    
}

.logo h1{
     font-size: 25px;
     font-family: 'Neuton';
}
.barramenu{
     width: 100%;
     height: 70px;
     /*background-color:blue;*/
     display: flex;
     flex-direction: row;
     justify-content: space-between;

     
}
.bajada{
     /*background-color: #53FCB6;*/
     height: 50px;
     margin-top: 10px;
     margin-bottom: 10px;



}

.menu {
     display: flex;
     flex-direction: row;
     width: 50%;
     height: 50px;
     /*background-color: red;*/
    justify-content: flex-end;
    margin-right: 5%;
    }

.menu p{
 
    float:right;
    font-family: 'Raleway', sans-serif;
    font-size:14px;
    font-weight:lighter;
    text-align:center;
    text-shadow: 0px 1px 0px #FFF;
    color: #00000;
    
    padding:10px;
    text-decoration:none;

  
}

.menu a:hover { 
    color:#000;
    
}
.Expo{

     width: 110px;
     height: 40px;
     /*background-color:#FCD8CC;*/
     float: left;
     margin-right: 0.6%;
     color: #DCDCDC;
}
.Editorial{
     width: 100px;
     height: 40px;
     /*background-color:#FCD8CC;*/
     float: left;
     margin-right: 0.6%;
}

.Interacción{
     width: 110px;
     height: 40px;
     /*background-color:#FCD8CC;*/
     float: left;
     margin-right: 0.6%;

}
.Investigación{
     width: 130px;
     height: 40px;
     /*background-color:#FCD8CC;*/
     float: left;
     margin-right: 0.6%;
}
.Perfil{
     width: 150px;
     height: 40px;
     /*background-color:#FCD8CC;*/
     float: left;
     margin-right: 0.6%;

}

.titulo{
     width: 90%;
     height: 60px;
    /*background-color: #FFCBBA;*/
     display: flex;


}



.Omegacubix{
     width: 100%;
     height: 780px;
     padding-left:0px;
      -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   float: left;
   display: flex;
   justify-content: center;
   /*background-color: #BAEEFF;*/
}

/*.titulo p {
     float: left;
     display: flex;
     font-family: 'Neuton';
}*/

.Contenidoficha{
     width: 100%;
     height: 420px;
     /*background-color: red;*/
     display: flex;
     padding-left:0px;
     justify-content: space-around;

}

.primerafoto{
      width: 100%;
     height: 780px;
     background:url("../img/Omegacubix01.jpg");
      -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   float: left;
   display: flex;
   justify-content: center;
  /*background-color: yellow;*/
}

.titulo2{
     /*background-color: #CCFFBA;*/
     width: 100%;
     height: 70px;
     display: flex;
     float: left;
     margin-top: 30px;
}
.Descripcionproyecto{
    /* background-color: #CCFFBA;*/
     width: 100%;
     height: 100px;
     display: flex;
     float: left;
}

.Descripcionproyecto p{
     font-size: 45px;
     font-family: 'Lato';
     letter-spacing: 1px;
     line-height: 50px;
}
.parrafodescripción1{
     width: 100%;
     height: 200px;
     /*background-color: #EDBAFF;*/
     display: flex;
     float:right;
     padding-top: 0px;
     padding-left:0px;
     padding-right:0px;
     padding-bottom:0px;
}


.foto1{
     width: 35%;
     height: 420px;
     background: url("../img/omegacubix.jpg")  repeat-x left top;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   float: left;
   display: flex;


}

.foto2{
     width: 35%;
     height: 420px;
     background: url("../img/Omegacubix02.jpg")  repeat-x left top;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   float: left;
   display: flex;

}

.titulo h2{
     font-size: 45px;
     font-family: 'Lato';
     letter-spacing:1px;
}
.titulo{
     padding-left: 0px;
     width: 100%;
}
.titulo2 p{
     font-size: 45px;
     font-family: 'Lato';
     letter-spacing: 1px;*/
    
}
.titulo2{
  padding-left:0px; 
  padding-top: 0px;  
}

.contenido2{
      padding-left:0px;
     /*background-color: red;*/
     width: 100%;
     height: 420px;
     display: flex;
     float: left;
     justify-content: center;
    
}

.parrafodescripción1 p{
font-size: 14px;
font-family: 'Lato';
line-height: 25px;

}


.parrafos{
     width: 30%;
     height: 380px;
     /*background-color: #F1FFBA;*/
     display: flex;
     float:right;
     padding-top: 20px;
     padding-left: 45px;
     padding-right: 45px;
     padding-bottom: 20px;
}

.fichadatos{
     width: 30%;
     /*background-color: #F1FFBA;*/
     display: flex;
     float:right;
     padding-top: 20px;
     padding-left: 45px;
     padding-right: 45px;
     padding-bottom: 20px;
     
}

.fichadatos p{
     font-size: 14px;
     font-family: 'Lato';
     line-height: 25px;
}
.datos{
     width: 100%;
     /*background-color: #FFCBBA;*/
}

.primertitulo{
     /*background-color: #FFE3A6;*/
     margin-left: 14%;
}
.tituloficha{
     /*background-color: red;*/
     margin-left: 14%;
}
.textodescripcion{
     /*background-color: #FFE3A6;*/
     margin-left: 14%;
     padding-top: 20px;
}

.textodescripcion p{
   line-height: 50px;  
}

/* Add the following CSS block to your own
stylesheet. */
.lnr {
  display: inline-block;
  fill: currentColor;
  width: 1em;
  height: 1em;
  vertical-align: -0.05em;
}

.lnr-heart {
  color: #000;
  
  font-size: 20px;

}

body {
  font-size: 40px;
  font-family: sans-serif;
  color: #555;
}

.lnr {
  display: inline-block;
  fill: currentColor;
  width: 1em;
  height: 1em;
  vertical-align: -0.05em;
}

.lnr-location {
  color: #000;
  
  font-size: 20px;
 
}

.lnr {
  display: inline-block;
  fill: currentColor;
  width: 1em;
  height: 1em;
  vertical-align: -0.05em;
}

.lnr-clock {
  color: #000;
  
  font-size: 20px;

}

.lnr {
  display: inline-block;
  fill: currentColor;
  width: 1em;
  height: 1em;
  vertical-align: -0.05em;
}

.lnr-calendar-full {
  color: #000;
 
  font-size: 20px;

}

.lnr {
  display: inline-block;
  fill: currentColor;
  width: 1em;
  height: 1em;
  vertical-align: -0.05em;
}

.lnr-users {
  color: #000;

  font-size: 20px;

}

.tituloficha{
     left: 100px;
}

.gradiente{
     width: 100%;
     height: 300px;
  /*background: red;*/
  display: flex; /* For browsers that do not support gradients */
  align-self: flex-end;
  background: -webkit-linear-gradient(bottom,rgba(0,0,0,0),rgba(0,0,0,1)); /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom,rgba(0,0,0,0),rgba(0,0,0,1)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom,rgba(0,0,0,0),rgba(0,0,0,1)); /*Fx 3.6-15*/
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1)); /*Standard*/

}
.colaboradores{
     font-size: 14px;
     font-family: 'Lato';
}

.duración{
     font-size: 14px;
     font-family: 'Lato';
}
.lugar{
     font-size: 14px;
     font-family: 'Lato';
}
.Año{
     font-size: 14px;
     font-family: 'Lato';
}