html{
	margin:100px;
}


h1{
	font-family: 'Pacifico', cursive;
	text-align: center;
	font-size: 40px;
}

p{
	font-family: 'Droid Sans Mono', monospace;
	text-align: center;
}

nav ul{
    list-style:none;
    margin:0 10px 0 10px;
    padding:0;

}


nav ul li{
    /*Bordes redondeados*/
    -webkit-border-radius:5px;/*Chrome y Safari*/
    -moz-border-radius:5px;/*Firefox*/
    -o-border-radius:5px;/*Opera*/
    border-radius:5px;/*Estandar por defecto*/
    float:left;
    font-family: 'Raleway', sans-serif;
    font-size:14px;
    font-weight:lighter;
    margin-right:10px;
    text-align:center;
    /*Sombras para texto, los mismos parametros que box-shadow*/
    text-shadow: 0px 1px 0px #FFF;
}

nav ul li a{
    color:#999;
    display:block;
    padding:10px;
    text-decoration:none;
    /*Transiciones*/
    -webkit-transition: 0.4s linear all;
    -moz-transition: 0.4s linear all;
    -o-transition: 0.4s linear all;
    transition: 0.4s linear all;
}

nav ul li a:hover {
    color:#000;
}

div{
	position: absolute;
	left:25%;
	top:35%; 
	letter-spacing: 2px
}