html{
}
/* Resetear navegador*/ 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, font, img,
ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
center, u, b, i {
     margin: 0;
     padding: 0;
     border: 0;
     outline: 0;
     font-weight: normal;
     font-style: normal;
     font-size: 100%;
     font-family: inherit;
     vertical-align: baseline
}

body {
     line-height: 1
}

:focus {
     outline: 0
}

ol, ul {
     list-style: none
}

table {
     border-collapse: collapse;
     border-spacing: 0
}

blockquote:before, blockquote:after, q:before, q:after {
     content: ""
}

blockquote, q {
     quotes: "" ""
}

input, textarea {
     margin: 0;
     padding: 0
}

hr {
     margin: 0;
     padding: 0;
     border: 0;
     color: #000;
     background-color: #000;
     height: 1px
}

/* Fin de reseteo navegador*/ 


h1{
	font-family: 'Neuton', cursive;
	text-align: center;
	font-size: 35px;
}

h5{
	font-family: 'Lato', monospace;
	text-align: center;
}


nav ul{
    list-style:none;
    margin:0 10px 0 10px;
    padding:0;

}
a{
	color:#999;
}


.container{
	margin-top: 20px;
	width: 100%;
	/*background-color:#AAE0F2;*/
}

.Encabezado{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 150px;
	/*background-color:#B3F5BA;*/
	position: relative;
	margin-left: auto;
	margin-right: auto;


}
.titulos{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100px;
	/*background-color:#F5B3EE;*/
	position: relative;
	
}
.nombre{
	width: 100%;
	height: 50px;
	/*background-color:#F5E9B3;*/
}
.bajada{
	width: 100%;
	height: 60px;
	color:#999;
	letter-spacing: 1px;
	/*background-color:#BEC9F7;*/
}



.menu {
	display: flex;
	flex-direction: row;
	width: 100%;
	/*background-color: red;*/
    justify-content: center;
    }

.menu p{
 
    float:center;
    font-family: 'Raleway', sans-serif;
    font-size:14px;
    font-weight:lighter;
    text-align:center;
    text-shadow: 0px 1px 0px #FFF;
    color:#999;
    
    padding:10px;
    text-decoration:none;

  
}

.menu a:hover { 
    color:#000;
    
}


.Expo{
	width: 120px;
	height: 50px;
	/*background-color:#FCD8CC;*/
	float: left;
	margin-right: 0.6%;
	letter-spacing: 2px;
}

.Editorial{
	width: 100px;
	height: 50px;
	/*background-color:#FCD8CC;*/
	float: left;
	margin-right: 0.6%;
	letter-spacing: 2px;
}
.Interacción{
	width: 130px;
	height: 50px;
	/*background-color:#FCD8CC;*/
	float: left;
	margin-right: 0.6%;
	letter-spacing: 2px;
}
.Investigación{
	width: 140px;
	height: 50px;
	/*background-color:#FCD8CC;*/
	float: left;
	margin-right: 0.6%;
	letter-spacing: 2px;
}
.Perfil{
	width: 150px;
	height: 50px;
	/*background-color:#FCD8CC;*/
	float: left;
	margin-right: 0.6%;
	letter-spacing: 2px;
}

.foto{
	width: 100%;
	height: 700px;
	background: url("img/fotofondo.jpg") repeat-x left top;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;

}

footer{
	padding-top: 40px;
	width: 100%;
	height: 200px;
	background: #F0F8FF;
	border-top: 2px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}


.proyectosfooter{
	width: 200px;
	height: 150px;
	/*background-color:yellow;*/
	float: left;
	margin-right: 0.6%;
	letter-spacing: 2px;
	justify-content: center;
}

footer a:hover { 
    color:#000;
    
}


footer p{
	font-size: 14px;
	font-family: 'Lato';
	margin-bottom: 7px;
	line-height: 17px;

}

.titulo1{
	width: 250px;
	height: 30px;
	/*background-color: red;*/
	display: flex;
	float:center;
    font-family: 'Raleway', sans-serif;
    font-size:14px;

}
.titulo1 p{
	font-weight: bold;
}
.proyectosfooter p{
	letter-spacing: 1px;

}


